@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{ 
    display: flex;
    margin: 0;
	
}

body{
	background-image: linear-gradient( 135deg, #FFF886 10%, #F072B6 100%);;
	background-repeat: repeat;
	font-family: 'Raleway', sans-serif;

}
.text_container{
    flex-direction: column;
}

h1{
    margin: 20px;
    font-size: 30px;
    color: #ff75a0;
    font-family: 'Lobster', cursive;
}

p{
    margin: 20px;
    color: #898b8a;
    font-size: 20px;
    font-weight: bold;
}

video{
    width: 670px;

}

button{
    top: 220px;
    left: 245px;
    display: block;
    position: absolute;
    color: #fce38a;
	font-size: 40px;
    background-color: #ff75a0;
    border: 5px #fce38a solid;
    border-radius: 24px;
}


.fa-play-circle{
    color: pink;
	font-size: 155px;
}

.pre-video{
	width: 725px;
	height: 85%;
	border-radius: 40px;
}

#overlayModal{
	width: 100%;
	  height: 100%;
	  min-height: 100vh;
	  position: fixed;
	  top: 0;
	  left: 0;
	 justify-content: center;
	  align-items: center;
	  background-color: rgba(0, 0, 0, 0.3);
	   position: fixed;
	z-index: 9999;
	
  }
  .modal_video_open{
	position: absolute;
  }

  
  
  .modal-overlay{
	background-color: thistle;
	position: absolute;
	top:0
  }
  
  
.modal-overlay.ocultar {
	display: none;
  }

  .fa-window-close{
	font-size: 35px;
    position: relative;
    right: 40px;
    top: 5px;
    color: white;
  }

  

  .overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	bottom: 0;
	
  }


  

.no-scroll {
	overflow: hidden;
  }
  


  /* ////////////////////////MediaQuery! */


 @media (max-width: 575.98px) { 

    body{ 
background-color: green;;
    }
    *{
        display: block;
    }
    
    .pre-video {
        width: 95%;
        height:75%;
    
    }
    
    button {
        top: 190px;
        left: 150px;
        position: absolute;
    }
    .fa-play-circle {
        
        font-size: 105px;
    }
    
     
    h1{
        font-size: 25px;
        color:#16a596 ;
    }
    p{
       
        font-size: 15px;
        line-height: 1.5; 
    }
    .text_container {
        flex-direction: column;
        width: 98%;
        text-align: justify;
    }
    
    .fa-window-close {
        font-size: 70px;
        position: absolute;
        top: 20px;
        left: 10px;
    }
    
  }

 
@media (min-width: 576px) and (max-width: 767.98px) { 
    body{ 
        background-color: pink;;

 }

*{
    display: block;
}

 
h1{
    font-size: 25px;
    color:#16a596 ;
}
p{
   
    font-size: 15px;
    line-height: 1.5; 
}
.pre-video {
    width: 98%;
    height: 686px;

}
.text_container {
    flex-direction: column;
    width: 98%;
    text-align: justify;
} 
.fa-window-close {
    font-size: 70px;
    position: absolute;
    top: 20px;
    left: 10px;
} 

}


@media (min-width: 768px) and (max-width: 991.98px) { 
    body{ 
        background-color: blue;
}
*{
    display: block;
}

.pre-video {
    width: 100%;
    height: 686px;

}
h1{
    font-size: 25px;
    color:#16a596 ;
}
p{
   
    font-size: 15px;
    line-height: 1.5; 
}
button {
    top: 200px;
    left: 350px;
    position: absolute;
}

.fa-play-circle {
    
    font-size: 250px;
}

 
video{
    width: 100%;
}

.text_container {
    flex-direction: column;
    width: 98%;
    text-align: justify;
}

.fa-window-close {
    font-size: 70px;
    position: absolute;
    top: 20px;
    left: 10px;
}
}




@media (min-width: 992px) and (max-width: 1199.98px) { 
    body{ 
        background-color: red;

 }
 *{
    display: block;
}
 
.pre-video {
    width: 100%;

    height: 686px;

}
.fa-play-circle {
    
    font-size: 255px;
}
button {
    top: 200px;
    left: 375px;
    position: absolute;
}
h1{
    font-size: 35px;
}
video{
    width: 100%;
}

.fa-window-close {
    font-size: 70px;
    position: absolute;
    top: 20px;
    left: 10px;
}

}


@media (min-width: 1200px) {

    body{ 
        background-color:black;
}

video{
    width: 100%;

}
}